/* Hint! the @font-face rule needs to be the first thing in your CSS file!*/
@font-face {
    font-family: 'Asap';
	src: url("fonts/Asap-Regular.otf");
	src: url("fonts/Asap-BoldItalic.otf");
	src: url("fonts/Asap-Italic.otf");
	src: url("fonts/Asap-Bold.otf");
	src: url("fonts/Asap-Medium.otf");
	src: url("fonts/Asap-MediumItalic.otf");
}

@font-face {
    font-family: 'Asap';
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Asap';
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Asap';
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Asap';
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Asap';
    font-weight: medium;
    font-style: italic;
}

@font-face {
    font-family: 'Asap';
    font-weight: medium;
    font-style: normal;
}

@font-face {
    font-family: 'CinzelDecorative';
	src: url("fonts/CinzelDecorative-Regular.ttf");
	src: url("fonts/CinzelDecorative-Bold.ttf");
	src: url("fonts/CinzelDecorative-Black.ttf");
}

@font-face {
    font-family: 'CinzelDecorative';
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CinzelDecorative';
    font-weight: normal;
    font-style: bold;
}

@font-face {
    font-family: 'CinzelDecorative';
    font-weight: normal;
    font-style: black;
}


/* Start the CSS*/
body {
	margin: 0;
	padding: 0;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fcc7f6+0,a3f3f7+31,b7f7dc+68,ffe39e+100 */
	background: #fcc7f6; /* Old browsers */
	background: -moz-linear-gradient(-45deg,  #fcc7f6 0%, #a3f3f7 31%, #b7f7dc 68%, #ffe39e 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg,  #fcc7f6 0%,#a3f3f7 31%,#b7f7dc 68%,#ffe39e 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg,  #fcc7f6 0%,#a3f3f7 31%,#b7f7dc 68%,#ffe39e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcc7f6', endColorstr='#ffe39e',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

#wrapper {
	width: 80%;
	margin: 0 auto;
	padding: 5%;
	background-color: #fff;
	box-shadow: 0px 0px 15px 5px rgba(0,0,0,.15);
}

h1 {
	font-family:' Asap, serif';
}

h2 {
	font-family: 'Asap, serif';
}

h3 {
	font-family: 'Asap, serif';
}

h4 {
	font-family: 'CinzelDecorative, sans-serif';
}

h5 {
	font-family: 'CinzelDecorative, sans-serif';
}

h6 {
	font-family: 'CinzelDecorative, sans-serif';
}

p {
	font-family: 'CinzelDecorative, sans-serif';
}
